{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PCWEES</title>
    <!-- Toastr -->
    <link href="{% static 'css/lib/toastr/toastr.min.css' %}" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="{% static 'css/lib/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <!-- Range Slider -->
    <link href="{% static 'css/lib/rangSlider/ion.rangeSlider.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/rangSlider/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">
    <!-- Bar Rating -->
    <link href="{% static 'css/lib/barRating/barRating.css' %}" rel="stylesheet">
    <!-- Nestable -->
    <link href="{% static 'css/lib/nestable/nestable.css' %}" rel="stylesheet">
    <!-- JsGrid -->
    <link href="{% static 'css/lib/jsgrid/jsgrid-theme.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/lib/jsgrid/jsgrid.min.css' %}" type="text/css" rel="stylesheet"/>
    <!-- Datatable -->
    <link href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/lib/data-table/buttons.bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- Calender 2 -->
    <link href="{% static 'css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Weather Icon -->
    <link href="{% static 'css/lib/weather-icons.css' %}" rel="stylesheet"/>
    <!-- Owl Carousel -->
    <link href="{% static 'css/lib/owl.carousel.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/lib/owl.theme.default.min.css' %}" rel="stylesheet"/>
    <!-- Select2 -->
    <link href="{% static 'css/lib/select2/select2.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link href="{% static 'css/lib/chartist/chartist.min.css' %}" rel="stylesheet">
    <!-- Calender -->
    <link href="{% static 'css/lib/calendar/fullcalendar.css' %}" rel="stylesheet"/>

    <!-- Common -->
    <link href="{% static 'css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/themify-icons.css' %} " rel="stylesheet">
    <link href="{% static 'css/lib/menubar/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <!-- <img src="assets/images/logo.png" alt="" /> -->
                    <span>PCWEES</span>
                </a>
            </div>
            <ul>
                <li class="label">Menu</li>

                <li>
                    <a href="{% url 'index' %}">
                        <i class="ti-home"></i> Home </a>
                </li>
                <li>
                    <a href="{% url 'exemploListView' %}">
                        <i class="ti-notepad"></i> Exemplos Catalogados </a>
                </li>
                <li>
                    <a href="{% url 'padraoCatalogacao' %}">
                        <i class="ti-check-box"></i> Padrão de Catalogação</a>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'exemploCreateView' %}">
                        <i class="ti-view-list-alt"></i> Formulário de Catalogação</a>
                </li>
                <li>
                    <a href="{% url 'meusExemplosListView' %} ">
                        <i class="ti-save"></i> Meus exemplos</a>
                </li>
                <li>
                    <a href="{% url 'minhasAvaliacoesListView' %} ">
                        <i class="ti-star"></i> Minhas avaliações</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-left">
                    <div class="hamburger sidebar-toggle">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <br>
                    </div>
                </div>
                <div class="float-right">
                    <div class="page-header">
                        <div class="page-title">
                            <br>
                            {% if request.user.is_authenticated %}

                                <i class="ti-user" style="font-size: 18px;"></i>
                                <span style="font-size: 18px;"> {{ request.user.get_full_name }} | </span>

                            <a href="{% url 'logout' %}" style="font-size: 18px;">
                                <i class="ti-power-off"></i>
                                <span> Logout </span>
                            </a>
                            {% else %}
                            <a href="{% url 'login' %}" style="font-size: 18px;">
                                <i class="ti-power-off" ></i>
                                <span> Login  | </span>
                            </a>
                            <a href="{% url 'login' %}" style="font-size: 18px;">
                                <i class="ti-user"></i>
                                <span> Cadastro </span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block content %}

{% endblock %}

<!-- Common -->
<script src="{% static 'js/lib/jquery.min.js' %}"></script>
<script src="{% static 'js/lib/jquery.nanoscroller.min.js' %}"></script>
<script src="{% static 'js/lib/menubar/sidebar.js' %}"></script>
<script src="{% static 'js/lib/preloader/pace.min.js' %}"></script>
<script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

<!-- Select2 -->
<script src="{% static 'js/lib/select2/select2.full.min.js' %}"></script>

<!--  Validation -->
<script src="{% static 'js/lib/form-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/lib/form-validation/jquery.validate-init.js' %}"></script>

<!--  Circle Progress -->
<script src="{% static 'js/lib/circle-progress/circle-progress.min.js' %}"></script>
<script src="{% static 'js/lib/circle-progress/circle-progress-init.js' %}"></script>

<!-- Datatable -->
<script src="{% static 'js/lib/data-table/datatables.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.dataTables.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.flash.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/jszip.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/pdfmake.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/vfs_fonts.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/buttons.print.min.js' %}"></script>
<script src="{% static 'js/lib/data-table/datatables-init.js' %}"></script>

<!-- JS Grid -->
<script src="{% static 'js/lib/jsgrid/db.js' %}"></script>
<script src="{% static 'js/lib/jsgrid/jsgrid.core.js' %}"></script>
<script src="{% static 'js/lib/jsgrid/jsgrid.load-indicator.js' %}"></script>
<script src="{% static 'js/lib/jsgrid/jsgrid.load-strategies.js' %} "></script>
<script src="{% static 'js/lib/jsgrid/jsgrid.sort-strategies.js' %}"></script>
<script src="{% static 'js/lib/jsgrid/jsgrid.field.js' %}"></script>
<script src="{% static 'js/lib/jsgrid/fields/jsgrid.field.text.js' %}"></script>
<script src="{% static 'js/lib/jsgrid/fields/jsgrid.field.number.js' %}"></script>
<script src="{% static 'js/lib/jsgrid/fields/jsgrid.field.select.js' %}"></script>
<script src="{% static 'js/lib/jsgrid/fields/jsgrid.field.checkbox.js' %}"></script>
<script src="{% static 'js/lib/jsgrid/fields/jsgrid.field.control.js' %}"></script>
<script src="{% static 'js/lib/jsgrid/jsgrid-init.js' %}"></script>
<!-- Bar Rating-->
<script src="{% static 'js/lib/barRating/jquery.barrating.js' %}"></script>
<script src="{% static 'js/lib/barRating/barRating.init.js' %}"></script>

<!-- jRate -->
<script src="{% static 'js/lib/rating1/jRate.min.js' %}"></script>
<script src="{% static 'js/lib/rating1/jRate.init.js' %}"></script>

<!-- Sweet Alert -->
<script src="{% static 'js/lib/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/lib/sweetalert/sweetalert.init.js' %}"></script>

<!-- Toastr -->
<script src="{% static 'js/lib/toastr/toastr.min.js' %}"></script>
<script src="{% static 'js/lib/toastr/toastr.init.js' %}"></script>

<!--  Dashboard 1 -->
<script src="{% static 'js/dashboard1.js' %} "></script>
<script src="{% static 'js/dashboard2.js' %}"></script>

</body>

</html>