<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCWEES - Exemplos cadastrados</title>
</head>
<body>

    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit"/>
        <a href="{% url 'exemploListView' %}">Limpar filtros</a>
    </form>

    {% for obj in filter.qs %}
        {{ obj.titulo }}<br />
    {% endfor %}



<!--    <h1>Exemplos cadastrados</h1>-->
<!--    {% for exemplo in exemplos %}-->
<!--        <li>{{ exemplo.titulo }} - {{ exemplo.topico_swebook_1}} - {{ exemplo.topico_swebook_2}} - {{ exemplo.topico_swebook_3}}</li>-->
<!--    {% empty %}-->
<!--        <li>Nenhum exemplo cadastrado</li>-->
<!--    {% endfor %}-->


</body>
</html>