{% extends 'base.html' %}
{% load static %}
<!--{% load bootstrap4 %}-->
{% load bootstrap %}
{% block content %}
<div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
<!--                <div class="row">-->
<!--                    <div class="col-lg-12 p-r-0 title-margin-right">-->
<!--                        <div class="page-header">-->
<!--                            <div class="page-title">-->
<!--                                <h1>Exemplos Catalogados</h1>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Filtros</h4>
                                </div>
                                <div class="card-body">
                                    <form action="" method="get">
                                        {{ filter.form|bootstrap }}
                                        <button type="submit" class="btn btn-primary">Filtrar</button>
                                        <a class="btn btn-danger" href="{% url 'exemploListView' %}">Limpar filtros</a>
                                     </form>
                                </div>
                                </div>
                            </div>
                        </div>


                    <!-- /# row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Exemplos </h4>

                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>Contexto</th>
                                                    <th>Linguagem de programação</th>
                                                </tr>
                                            </thead>
                                            {% for obj in filter.qs %}
                                            <tbody>
                                                <tr>
                                                    <td>{{ obj.titulo }}</td>
                                                    <td>{{ obj.topico_swebook_3 }}</td>
                                                    <td>{{ obj.projeto_linguagem_programacao }}</td>
                                                </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </section>
            </div>
        </div>
    </div>


<!--    <h1>Exemplos cadastrados</h1>-->
<!--    {% for exemplo in exemplos %}-->
<!--        <li>{{ exemplo.titulo }} - {{ exemplo.topico_swebook_1}} - {{ exemplo.topico_swebook_2}} - {{ exemplo.topico_swebook_3}}</li>-->
<!--    {% empty %}-->
<!--        <li>Nenhum exemplo cadastrado</li>-->
<!--    {% endfor %}-->

{% endblock %}